:root {
    --color--primary-blue: #1943DC;
    --color--secondary-navy: #020553;
    --color--light-blue: #D7E7FF;
    --color--success: #0D8546;
    --color--error: #DA2A2A;
    --color--warning: #F3C50F;
    --color--hairline: #E1E7F0;
    --color--bg-clicked: #E6EBF2;
    --color--bg-header-2: #F0F4FA;
    --color--bg-header: #F5F6FA;
    --color--darknavy-overlay: #12224A;
    --text--default: #020553;
    --text--label: #666C80;
    --text--action-link: #1943DC;
    --text--action-link-hover: #0E34C2;
    --text--disabled: #7D8BB7;
    --neutral--black: #000000;
    --neutral--white: #FFFFFF;
    --neutral--grey: #1B1B21;
    --expressive--deep-green: #014740;
    --expressive--green: #06AEA1;
    --expressive--light-green: #97DCD7;
    --expressive--gold: #FFC60B;
    --expressive--deep-gold: #FFA719;
    --expressive--orange: #FF7656;
    --expressive--periwinkle: #B8B6FF;
    --expressive--deep-red: #A30734;
    --aux--disabled-on-toggle: #A5B7FA;
  }
 

