---
	const { headers } = Astro.props;

	console.log({headers})
---
<ul class="flex flex-col gap-4">
	{ headers.map(({ slug, text }) => {
		return (
		<li class="text-slate-400 hover:text-slate-800 hover:text-slate-900">
			#<a href={`#${slug}`}>{text}</a>
		</li>
		) 
	}) }
	<li>
		{ headers }
	</li>

</ul>